<div class="pmt-view-order">
    <div class="pmt-vo-row">
        <div class="pmt-vo-caption">__txt_client__</div>
        <div class="pmt-vo-content">
            <a href="__client_url__" target="_blank">__client_name__</a>
        </div>
        <div class="pmt-cb">&nbsp;</div>
    </div>
    <div class="pmt-vo-row">
        <div class="pmt-vo-caption">__txt_order__</div>
        <div class="pmt-vo-content">__order__</div>
        <div class="pmt-cb">&nbsp;</div>
    </div>
    <div class="pmt-vo-row">
        <div class="pmt-vo-caption">__txt_processed_with__</div>
        <div class="pmt-vo-content">__provider__</div>
        <div class="pmt-cb">&nbsp;</div>
    </div>
    <div class="pmt-vo-row">
        <div class="pmt-vo-caption">__txt_message__</div>
        <div class="pmt-vo-content">__error__</div>
        <div class="pmt-cb">&nbsp;</div>
    </div>
    <div class="pmt-vo-row">
        <div class="pmt-vo-caption">__txt_date__</div>
        <div class="pmt-vo-content">__date__</div>
        <div class="pmt-cb">&nbsp;</div>
    </div>
    <div class="pmt-vo-row">
        <div class="pmt-vo-caption">__txt_products__</div>
        <div class="pmt-vo-items">
            <ch_repeat:items>
                <ch_if:link>
                    <a href="__url__" target="_blank">__title__</a>
                </ch_if:link>
                <ch_if:text>__title__</ch_if:text>
                (__quantity__) - __price__ __currency_code__<br />
            </ch_repeat:items>
        </div>
        <div class="pmt-cb">&nbsp;</div>
    </div>
</div>
