
/* --------------- color palette */


.col-red1 { color: #d80960; }
.bg-col-red1 { color: #d80960; }
.col-red1-dark { color: #c20756; }
.bg-col-red1-dark { color: #c20756; }

.col-red2 { color: #e7441e; }
.bg-col-red2 { color: #e7441e; }
.col-red2-dark { color: #cf3c19; }
.bg-col-red2-dark { color: #cf3c19; }

.col-red3 { color: #f38f00; }
.bg-col-red3 { color: #f38f00; }
.col-red3-dark { color: #da8000; }
.bg-col-red3-dark { color: #da8000; }



.col-green1 { color: #60ae00; }
.bg-col-green1 { color: #60ae00; }
.col-green1-dark { color: #569c00; }
.bg-col-green1-dark { color: #569c00; }

.col-green2 { color: #d1d300; }
.bg-col-green2 { color: #d1d300; }
.col-green2-dark { color: #babc00; }
.bg-col-green2-dark { color: #babc00; }

.col-green3 { color: #307424; }
.bg-col-green3 { color: #307424; }
.col-green3-dark { color: #2b6820; }
.bg-col-green3-dark { color: #2b6820; }



.col-blue1 { color: #0a3d8f; }
.bg-col-blue1 { color: #0a3d8f; }
.col-blue1-dark { color: #093680; }
.bg-col-blue1-dark { color: #093680; }

.col-blue2 { color: #00a4a5; }
.bg-col-blue2 { color: #00a4a5; }
.col-blue2-dark { color: #009294; }
.bg-col-blue2-dark { color: #009294; }

.col-blue3 { color: #00a0ce; }
.bg-col-blue3 { color: #00a0ce; }
.col-blue3-dark { color: #008fb8; }
.bg-col-blue3-dark { color: #008fb8; }



.col-gray { color: #616161; }
.bg-col-gray { color: #616161; }
.col-gray-dark { color: #575757; }
.bg-col-gray-dark { color: #575757; }

/* New. All Named CSS Colors */
.col-AliceBlue { color: #F0F8FF; }
.col-AntiqueWhite { color: #FAEBD7; }
.col-Aqua { color: #00FFFF; }
.col-Aquamarine { color: #7FFFD4; }
.col-Azure { color: #F0FFFF; }
.col-Beige { color: #F5F5DC; }
.col-Bisque { color: #FFE4C4; }
.col-Black { color: #000000; }
.col-BlanchedAlmond { color: #FFEBCD; }
.col-Blue { color: #0000FF; }
.col-BlueViolet { color: #8A2BE2; }
.col-Brown { color: #A52A2A; }
.col-BurlyWood { color: #DEB887; }
.col-CadetBlue { color: #5F9EA0; }
.col-Chartreuse { color: #7FFF00; }
.col-Chocolate { color: #D2691E; }
.col-Coral { color: #FF7F50; }
.col-CornflowerBlue { color: #6495ED; }
.col-Cornsilk { color: #FFF8DC; }
.col-Crimson { color: #DC143C; }
.col-Cyan { color: #00FFFF; }
.col-DarkBlue { color: #00008B; }
.col-DarkCyan { color: #008B8B; }
.col-DarkGoldenrod { color: #B8860B; }
.col-DarkGray { color: #A9A9A9; }
.col-DarkGreen { color: #006400; }
.col-DarkKhaki { color: #BDB76B; }
.col-DarkMagenta { color: #8B008B; }
.col-DarkOliveGreen { color: #556B2F; }
.col-DarkOrange { color: #FF8C00; }
.col-DarkOrchid { color: #9932CC; }
.col-DarkRed { color: #8B0000; }
.col-DarkSalmon { color: #E9967A; }
.col-DarkSeaGreen { color: #8FBC8B; }
.col-DarkSlateBlue { color: #483D8B; }
.col-DarkSlateGray { color: #2F4F4F; }
.col-DarkTurquoise { color: #00CED1; }
.col-DarkViolet { color: #9400D3; }
.col-DeepPink { color: #FF1493; }
.col-DeepSkyBlue { color: #00BFFF; }
.col-DimGray { color: #696969; }
.col-DodgerBlue { color: #1E90FF; }
.col-FireBrick { color: #B22222; }
.col-FloralWhite { color: #FFFAF0; }
.col-ForestGreen { color: #228B22; }
.col-Fuchsia { color: #FF00FF; }
.col-Gainsboro { color: #DCDCDC; }
.col-GhostWhite { color: #F8F8FF; }
.col-Gold { color: #FFD700; }
.col-Goldenrod { color: #DAA520; }
.col-Gray { color: #808080; }
.col-Green { color: #008000; }
.col-GreenYellow { color: #ADFF2F; }
.col-HoneyDew { color: #F0FFF0; }
.col-HotPink { color: #FF69B4; }
.col-IndianRed { color: #CD5C5C; }
.col-Indigo { color: #4B0082; }
.col-Ivory { color: #FFFFF0; }
.col-Khaki { color: #F0E68C; }
.col-Lavender { color: #E6E6FA; }
.col-LavenderBlush { color: #FFF0F5; }
.col-LawnGreen { color: #7CFC00; }
.col-LemonChiffon { color: #FFFACD; }
.col-LightBlue { color: #ADD8E6; }
.col-LightCoral { color: #F08080; }
.col-LightCyan { color: #E0FFFF; }
.col-LightGoldenrodYellow { color: #FAFAD2; }
.col-LightGray { color: #D3D3D3; }
.col-LightGreen { color: #90EE90; }
.col-LightPink { color: #FFB6C1; }
.col-LightSalmon { color: #FFA07A; }
.col-LightSalmon { color: #FFA07A; }
.col-LightSeaGreen { color: #20B2AA; }
.col-LightSkyBlue { color: #87CEFA; }
.col-LightSlateGray { color: #778899; }
.col-LightSteelBlue { color: #B0C4DE; }
.col-LightYellow { color: #FFFFE0; }
.col-Lime { color: #00FF00; }
.col-LimeGreen { color: #32CD32; }
.col-Linen { color: #FAF0E6; }
.col-Magenta { color: #FF00FF; }
.col-Maroon { color: #800000; }
.col-MediumAquamarine { color: #66CDAA; }
.col-MediumBlue { color: #0000CD; }
.col-MediumOrchid { color: #BA55D3; }
.col-MediumPurple { color: #9370DB; }
.col-MediumSeaGreen { color: #3CB371; }
.col-MediumSlateBlue { color: #7B68EE; }
.col-MediumSpringGreen { color: #00FA9A; }
.col-MediumTurquoise { color: #48D1CC; }
.col-MediumVioletRed { color: #C71585; }
.col-MidnightBlue { color: #191970; }
.col-MintCream { color: #F5FFFA; }
.col-MistyRose { color: #FFE4E1; }
.col-Moccasin { color: #FFE4B5; }
.col-NavajoWhite { color: #FFDEAD; }
.col-Navy { color: #000080; }
.col-OldLace { color: #FDF5E6; }
.col-Olive { color: #808000; }
.col-OliveDrab { color: #6B8E23; }
.col-Orange { color: #FFA500; }
.col-OrangeRed { color: #FF4500; }
.col-Orchid { color: #DA70D6; }
.col-PaleGoldenrod { color: #EEE8AA; }
.col-PaleGreen { color: #98FB98; }
.col-PaleTurquoise { color: #AFEEEE; }
.col-PaleVioletRed { color: #DB7093; }
.col-PapayaWhip { color: #FFEFD5; }
.col-PeachPuff { color: #FFDAB9; }
.col-Peru { color: #CD853F; }
.col-Pink { color: #FFC0CB; }
.col-Plum { color: #DDA0DD; }
.col-PowderBlue { color: #B0E0E6; }
.col-Purple { color: #800080; }
.col-RebeccaPurple { color: #663399; }
.col-Red { color: #FF0000; }
.col-RosyBrown { color: #BC8F8F; }
.col-RoyalBlue { color: #4169E1; }
.col-SaddleBrown { color: #8B4513; }
.col-Salmon { color: #FA8072; }
.col-SandyBrown { color: #F4A460; }
.col-SeaGreen { color: #2E8B57; }
.col-SeaShell { color: #FFF5EE; }
.col-Sienna { color: #A0522D; }
.col-Silver { color: #C0C0C0; }
.col-SkyBlue { color: #87CEEB; }
.col-SlateBlue { color: #6A5ACD; }
.col-SlateGray { color: #708090; }
.col-Snow { color: #FFFAFA; }
.col-SpringGreen { color: #00FF7F; }
.col-SteelBlue { color: #4682B4; }
.col-Tan { color: #D2B48C; }
.col-Teal { color: #008080; }
.col-Thistle { color: #D8BFD8; }
.col-Tomato { color: #FF6347; }
.col-Turquoise { color: #40E0D0; }
.col-Violet { color: #EE82EE; }
.col-Wheat { color: #F5DEB3; }
.col-White { color: #FFFFFF; }
.col-WhiteSmoke { color: #F5F5F5; }
.col-Yellow { color: #FFFF00; }
.col-YellowGreen { color: #9ACD32; }
.col-PacificBlue { color: #0288D1; }
