    <div>
        <ch_text:_ch_wmap_admin_links_explanation />
    </div>
    <div class="ch-def-margin-top">
        <a href="__module_url__update_locations"><ch_text:_ch_wmap_admin_update_modules_locations /></a>
    </div>
    <hr class="ch-def-hr ch-def-margin-top ch-def-margin-bottom" />
    <ch_repeat:parts>
        <div class="ch_wmap_part">
            __icon__
            <a href="__link_base____part__">__title__</a>
        </div>
    </ch_repeat:parts>
    <div class="clear_both"></div>
