<div class="" style="width: 320px; height: auto; margin: 10px; font-size: 16px;">
	<div>
		<div style="font-weight: bold; font-size: 20px; float: left;">
			__title__</div>
		<div style="float: right;">
			__logout__</div>
	</div>
	<div class="clear_both">
	</div>
	<div style="height: 20px;">
	</div>
	<div>
		<div style="float: left;">
			__thumb__</div>
		<div style="padding: 8px 0px 4px 80px;">
			<a href="__profile_link__">__display_name__</a></div>
		<div style="padding: 4px 0px 4px 80px;">
			__email__</div>
	</div>
	<div class="clear_both">
	</div>
	<div style="height: 10px;">
	</div>
	<div class="sys-service-menu">
		__content__ </div>
	<div class="clear_both">
	</div>
</div>
