<div class="ch-def-margin-bottom ch-def-font-bold"><ch_text:_dialog_dialogs_msg /></div>
<div class="search_container_cnt">
	<div id="dialog_members_block">
		<ch_repeat:members>
			<div class="searchrow_block_simple ch-def-margin-thd dialog_searchrow_block_simple"> __member_block__
				<button class="dialog_view_button" onclick="location.href = 'mail.php?mode=dialog&dialog_id=__memberid__&from_box=dialog'"><i class="sys-icon eye"></i>&nbsp;View</button>
			</div>
		</ch_repeat:members>
	</div>
</div>
