<div class="ch_sys_files_wrapper ch-def-bc-padding">
    <ch_repeat:files>
        <div class="ch-def-hr ch-def-margin-sec-top ch-def-margin-sec-bottom"></div>
        <div class="ch_sys_files_line">
            <div class="sys_icon ch-def-round-corners"><img alt="__title__" title="__title__" src="__icon__" /></div>
            <p>__title__</p>
            <u class="ch-def-font-small ch-def-font-grayed">__date__</u>
            <div class="ch_sys_files_btns">
                __btn_download__
                <div class="clear_both"></div>
            </div>
        </div>
    </ch_repeat:files>
</div>
