<div class="ch-form-element __element_type__ ch-def-margin-top clearfix__element_class__" __element_attrs__>
	<div class="ch-form-caption ch-def-font-inputs-captions">__required____caption____info_icon__</div>
	<div class="ch-form-caption ch-form-error">__error_icon__</div>
	<div class="ch-form-value clearfix__class_add__">
		__input_code____input_code_extra__
		<ch_if:show_toggle_html>
			<div class="form_input_toggle_html">
				<a href="javascript:void(0);" onclick="$('#__attrs_id__').formsToggleHtmlEditor()"><ch_text:_sys_txt_form_toggle_html_editor /></a>
			</div>
		</ch_if:show_toggle_html>
	</div>
</div>
