<div class="paginate__class__ ch-def-padding-right ch-def-padding-left clearfix">
	<div class="info_section">
	    <ch_if:info>
			<div class="info ch-def-margin-left-auto">
				__from__-__to__ <span>__of__</span> __total__
			</div>
		</ch_if:info>
	    <ch_if:per_page>
	    	<div class="per_page ch-def-margin-left-auto">
	            __per_page_caption__&nbsp;
	            <select name="per_page" onchange="__per_page_on_change__">
	                <ch_repeat:options>
	                    <option value="__opt_value__" __opt_selected__>__opt_caption__</option>
	                </ch_repeat:options>
	            </select>
	    	</div>
	    </ch_if:per_page>
		<ch_if:reloader>
	        <div class="reloader ch-def-margin-left-auto">
	            <div class="paginate_btn ch-def-border ch-def-round-corners">
	                <a href="__lnk_url__" title="__lnk_title__" __lnk_on_click__>
	                    <i class="sys-icon refresh"></i>
	                </a>
	            </div>
	        </div>
	    </ch_if:reloader>
		<ch_if:view_all>
	        <div class="view_all ch-def-margin-left-auto">
	            <a href="__lnk_url__" title="__lnk_title__">__lnk_content__</a>
	        </div>
		</ch_if:view_all>
	</div>
	<div class="pages_section">__content__</div>
</div>
