<div class="sys-profile-cover ch-def-margin-top ch-def-border ch-def-round-corners">
	<div class="sys-profile-cover-bg-l1__background_class__"<ch_if:show_background> style="background-image: url(__background__)"</ch_if:show_background>></div>
	<div class="sys-profile-cover-bg-l2"></div>
	<ch_if:show_actions>
		<div class="sys-profile-cover-actions ch-def-padding">
                    <ch_if:show_action_thumbnail>
                        <a class="ch-btn ch-btn-small sys-pca-change-background" href="__href_upload_thumbnail__" title="<ch_text_attribute:_sys_btn_thumbnail_change />"> <i class="sys-icon user sys-pca-icon"></i><span class="sys-pca-text" ><ch_text:_sys_btn_thumbnail_change /></span></a>
                    </ch_if:show_action_thumbnail>
                    <ch_if:show_action_cover>
                        <a class="ch-btn ch-btn-small sys-pca-change-background" href="__href_upload__" title="<ch_text_attribute:_sys_btn_cover_change />"><i class="sys-icon picture-o sys-pca-icon"></i><span class="sys-pca-text"><ch_text:_sys_btn_cover_change /></span></a>
                    </ch_if:show_action_cover>
		</div>
	</ch_if:show_actions>
	<div class="sys-profile-cover-cnt">
		<div class="sys-profile-cover-thumbnail">
			<ch_if:show_thumbnail_image>
					<img class="sys-pct-image" src="__thumbnail__" src-2x="__thumbnail2x__" />
			</ch_if:show_thumbnail_image>
			<ch_if:show_thumbnail_image_link>
				<a class="sys-pct-link" href="__thumbnail_href__">
					<img class="sys-pct-image" src="__thumbnail__" src-2x="__thumbnail2x__" />
				</a>
			</ch_if:show_thumbnail_image_link>
			<ch_if:show_thumbnail_letter_text><p class="sys-pct-letter">__letter__</p></ch_if:show_thumbnail_letter_text>
			<ch_if:show_thumbnail_letter_link>
				<a class="sys-pct-link" href="__thumbnail_href__">
					<p class="sys-pct-letter">__letter__</p>
				</a>
			</ch_if:show_thumbnail_letter_link>
		</div>
		<div class="sys-profile-cover-text">
			<div class="sys-profile-cover-text-cnt">
				<h1 class="sys-pct-nickname ch-def-font-h1">__nickname__</h1>
				<p class="sys-pct-status ch-def-padding-sec-top">__status__</p>
			</div>
		</div>
		<div class="sys-profile-cover-menu">
			<div class="sys-profile-cover-menu-cnt">
				<ch_repeat:menu_items>
					<a class="sys-pcm-item ch-def-margin-left-auto" href="__href__"<ch_if:show_onclick> onclick="__onclick__"</ch_if:show_onclick><ch_if:show_target> target="__target__"</ch_if:show_target>>__caption__</a>
				</ch_repeat:menu_items>
			</div>
		</div>
	</div>
</div>
