<div class="thumbnail_block __sys_thb_float__ clearfix __classes_add__">
    <div class="thumbnail_image thumbnail_image_couple">
        <ch_if:show_thumbnail_image1>
            <img src="__usr_thumb_url0__" src-2x="__usr_thumb_url0_2x__" alt="__usr_thumb_alt0__" class="thumbnail_image_file ch-def-thumbnail ch-def-shadow ch-img-retina" />
        </ch_if:show_thumbnail_image1>
        <ch_if:show_thumbnail_letter1>
            <p class="thumbnail_image_letter ch-def-border ch-def-thumbnail ch-def-shadow">__letter__</p>
        </ch_if:show_thumbnail_letter1>
        <ch_if:show_thumbnail_image2>
            <img src="__usr_thumb_url1__" src-2x="__usr_thumb_url1_2x__" alt="__usr_thumb_alt1__" class="thumbnail_image_file2 ch-def-thumbnail ch-def-shadow ch-img-retina" />
        </ch_if:show_thumbnail_image2>
        <ch_if:show_thumbnail_letter2>
            <p class="thumbnail_image_letter2 ch-def-border ch-def-thumbnail ch-def-shadow">__letter__</p>
        </ch_if:show_thumbnail_letter2>
        <i class="sys-online-offline sys-icon __sys_status_icon__" title="__sys_status_title__"></i>
    </div>
</div>
