<div id="ch-popup-prompt" class="ch-def-z-index-modal" style="display:none;">
	<div class="popup_form_wrapper trans_box">
	    <div class="container ch-def-border ch-def-round-corners">
	    	<div class="popup_prompt_text ch-def-padding-lefttopright"><ch_text:_Enter_value_here /></div>
	    	<div class="popup_prompt_input ch-def-padding">
				<div class="input_wrapper input_wrapper_text clearfix">
					<input class="form_input_text ch-def-font-inputs" type="text" value="" name="ch-popup-prompt-value" />
				</div>
			</div>
	    	<div class="popup_prompt_actions ch-def-padding-rightbottomleft clearfix">
	    		<button class="ch-btn popup_prompt_ok" type="button"><ch_text:_OK /></button>
	    		<button class="ch-btn popup_prompt_cancel" type="button"><ch_text:_Cancel /></button>
	    	</div>
	    </div>
	</div>
</div>
