<table>
	<tr>
		<ch_repeat:top_items>
        	<td valign="top">
				<div class="pageac_top_menu_item">
					<a href="javascript:oChPageACMain.showMenuEditForm('__item_id__')">__item_caption__</a>
				</div>
				<ch_repeat:custom_items>
					<div class="pageac_custom_menu_item"><a href="javascript:oChPageACMain.showMenuEditForm('__custom_item_id__')">__custom_item_caption__</a></div>
				</ch_repeat:custom_items>
			</td>
        </ch_repeat:top_items>
        <ch_repeat:system_items>
        	<td valign="top">
				<div class="pageac_system_menu_item">
					<a href="javascript:oChPageACMain.showMenuEditForm('__item_id__')">__item_caption__</a>
				</div>
				<ch_repeat:custom_items>
					<div class="pageac_custom_menu_item"><a href="javascript:oChPageACMain.showMenuEditForm('__custom_item_id__')">__custom_item_caption__</a></div>
				</ch_repeat:custom_items>
			</td>
        </ch_repeat:system_items>
	</tr>
</table>
<script language="javascript">var sParserURL = "__parser_url__"</script>
