<div class="ch-def-bc-padding">
    __file__
    <div class="ch-def-margin-sec-top">
        <div class="file_title ch-def-font-h2">
            <a href="__file_url__">__title__</a>
        </div>
        <div class="file_rate">
            __rate__
        </div>
    	<div class="clear_both"></div>
    </div>
    <div class="ch-def-margin-sec-top">
        <span class="ch-def-font-grayed">
            __date__
        </span>
        <span>
            <a href="__owner_url__">__owner_nick__</a>
        </span>
    </div>
</div>
