<ch_text:_ch_ava_you_can_store_different_avatars />
<div class="form_advanced_wrapper edit_form_wrapper ch-def-margin-sec-top">
    <table id="edit_form_table" class="form_advanced_table" cellspacing="0" cellpadding="0">
        <thead>
            <tr class="headers">
                <th class="block_header"><ch_text:_ch_ava_my_avatars /></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="padding:0px;">
                    <div id="ch_ava_my_avatars" class="ch-def-padding-thd">
                        __my_avatars__
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<ch_if:is_site_avatars_enabled>
<div class="form_advanced_wrapper edit_form_wrapper ch-def-margin-top">
    <table id="edit_form_table" class="form_advanced_table" cellspacing="0" cellpadding="0">
        <thead>
            <tr class="headers">
                <th class="block_header"><ch_text:_ch_ava_site_avatars /></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="padding:0px;">
                    <div id="ch_ava_site_avatars">
                        __site_avatars__
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
</ch_if:is_site_avatars_enabled>
