<div class="wall-post-media">
    <div class="wall-pm-thumbnail ch-def-shadow ch-def-round-corners">
        <a href="__link__"><img class="wall-pm-thumbnail" src="__image_url__" title="__title__" alt="__title__" /></a>
        <ch_if:show_duration>
        	<div class="wall-pm-duration ch-def-round-corners">__duration_f__</div>
        </ch_if:show_duration>
    </div>
    <div class="wall-pm-title ch-def-font-h2">
        <a href="__link__">__title__</a>
    </div>
    <div class="wall-pm-description">__description__</div>
    <div class="wall-clear">&nbsp;</div>
</div>
