<div id="ch-auth-form" class="controlsDiv">
    <h3>__text__</h3>
    <form method="post" action="__url__">
        <input type="hidden" name="client_id" value="__client_id__" />
        <input type="hidden" name="response_type" value="__response_type__" />
        <input type="hidden" name="redirect_uri" value="__redirect_uri__" />
        <input type="hidden" name="state" value="__state__" />
        <input type="hidden" name="confirm" id="ch-confirm" value="0" />
        <div class="ch-auth-form-buttons">
            <button class="ch-btn" onclick="$('#ch-confirm').val(0); $('#ch-auth-form form').submit(); return false;"><ch_text:_ch_oauth_deny /></button>
            <button class="ch-btn ch-btn-primary" onclick="$('#ch-confirm').val(1); $('#ch-auth-form form').submit(); return false;"><ch_text:_ch_oauth_allow /></button>
        </div>
    </form>
</div>
