<div id="msg_invite___sender_id__" class="msg_ajax">
    <div class="msg_window ch-def-border ch-def-round-corners ch-def-shadow">
	    <div class="msg_window_close">
	    	<a class="ch-popup-element-close" href="javascript:void(0)" onclick="javascript:ChMsgPerformAction(__sender_id__, 'decline');"><i class="ch-popup-element-close sys-icon times" style=""></i></a>
		</div>
        <div class="msg_window_content ch-def-padding-sec">
            <div class="msg_title ch-def-padding-sec-leftright ch-def-font-h3"><ch_text:_messenger_invitation_title /></div>
            <div class="msg_info ch-def-padding-sec clearfix">
	            <div class="msg_left_side">__sender_thumbnail__</div>
	            <div class="msg_right_side ch-def-margin-sec-left clearfix">
	                <div class="msg_sender">
	                    <a href="__sender_profile__" target="_blank">__sender_nickname__</a><br />
	                    <ch_text:_messenger_invitation_description />
	                </div>
	                <div class="msg-post-body ch-def-border ch-def-padding-sec">
	                    __invitation_text__
	                </div>
	            </div>
			</div>
            <div class="msg_buttons">__invitation_buttons__</div>
        </div>
    </div>
</div>
