<div class="ch-pfw-ec-confirm ch-def-padding-sec">
	<div class="ch-pfw-ecc-buyer ch-def-font-large"><ch_text:_ch_pfw_txt_buyer_info />:</div>
	<div class="ch-pfw-ecc-buyer-info ch-def-padding-left">
		<table class="ch-pfw-ecc-buyer-info">
			<tr>
				<td class="ch-pfw-ecc-bi-caption"><ch_text:_ch_pfw_txt_buyer_name />:</td><td>__buyer_name__</td>
			</tr>
			<tr>
				<td class="ch-pfw-ecc-bi-caption"><ch_text:_ch_pfw_txt_buyer_email />:</td><td>__buyer_email__</td>
			</tr>
		</table>
	</div>
	<div class="ch-pfw-ecc-products ch-def-margin-top ch-def-font-large">__txt_items_info__:</div>
	<div class="ch-pfw-ecc-products-info ch-def-padding-left">
		<table class="ch-pfw-ecc-products-info">
			<tr>
				<th><ch_text:_ch_pfw_fcpt_details_title /></th>
				<th><ch_text:_ch_pfw_fcpt_details_quantity /></th>
				<th><ch_text:_ch_pfw_fcpt_details_price /></th>
			</tr>
			<ch_repeat:items>
				<tr>
					<td><a href="__link__">__title__</a></td>
					<td class="ch-pfw-ecc-pi-quantity">__quantity__</td>
					<td>__price__ __currency__<ch_if:show_duration> __duration__</ch_if:show_duration></td>
				</tr>
			</ch_repeat:items>
			<tr>
				<td class="ch-pfw-ecc-pi-caption"><ch_text:_ch_pfw_fcpt_details_total /></td>
				<td class="ch-pfw-ecc-pi-quantity">__total_count__</td>
				<td>__total_price__ __currency__</td>
			</tr>
		</table>
	</div>
</div>
