<div class="ch-def-hr ch-def-margin-sec-top ch-def-margin-sec-bottom"></div>
<div class="ch-twig-unit ch_sites_unit_short">
    <a class="ch_sites_unit_title_link ch-def-font-h2" href="__site_url__">__title__</a>
    <div class="ch-twig-unit-line ch-twig-unit-desc">
        <a href="__url__" class="ch-twig-unit-special" target="_blank">__url_title__</a>
    </div>
    <div class="ch-twig-unit-line ch-def-font-small ch-def-font-grayed">
        __date__ <span class="sys-bullet"></span> __owner_str__ <a href="__owner_url__">__owner__</a>
    </div>
</div>
