<div class="wall-oi-item wall-oi-item-grouped __mod_prefix__-wall-oi-item-grouped" id="wall-event-__post_id__">
    <div class="wall-oi-item-cnt __mod_prefix__-wall-oi-item-cnt ch-def-round-corners ch-def-shadow">
    	<div class="wall-oii-image-wrp __mod_prefix__-wall-oii-image-wrp ch-def-padding-sec-topbottom">
    		<ch_repeat:items>
	    		<div class="wall-oii-image __mod_prefix__-wall-oii-image ch-def-margin-sec-top-auto">
	                <a href="__item_page__"><img class="wall-oii-image __mod_prefix__-wall-oii-image ch-def-round-corners ch-def-shadow" src="__item_icon__" title="__item_title__" width="__item_width__" height="__item_height__" /></a>
	            </div>
			</ch_repeat:items>
            <div class="clear_both"></div>
        </div>
        <div class="wall-oii-info __mod_prefix__-wall-oii-info ch-def-padding-sec">
			<div class="wall-oii-author __mod_prefix__-wall-oii-author ch-def-margin-sec-top">
				__post_owner_icon__
				<div class="wall-oii-author-cnt __mod_prefix__-wall-oii-author-cnt">
					<div class="wall-oii-author-name __mod_prefix__-wall-oii-author-name">
						<a href="__user_link__">__user_name__</a>
					</div>
					<div class="wall-oii-posted __mod_prefix__-wall-oii-posted ch-def-font-small ch-def-font-grayed">__post_ago__</div>
				</div>
			</div>
        </div>
    </div>
    <div class="wall-oi-item-circle __mod_prefix__-wall-oi-item-circle ch-def-shadow">
		<i class="sys-icon __mod_icon__"></i>
	</div>
</div>
