    <div class="ch-def-font-h2 ch-def-margin-sec-bottom">
			__post_caption__
    </div>
    <div class="unit_info__post_mode__" style="position:relative;__style__">
		<div class="ch-def-font __friend_style__">
            __post_picture2__
			__post_description__
		</div>
        <div class="ch-def-margin-sec-top" style="clear:both;">
            <a href="bxprofile:__author_username__">__author_title__</a>
            <span class="sys-bullet"></span>
            <span class="ch-def-font-small ch-def-font-grayed">
                <span>__post_date__</span>
            </span>
        </div>
        __preview_picture__
    </div>
