<script>
    function ch_forum_search () {
        var sVal = $('#ch_forum_search_input').val();
        document.location = "__base_url_forum__?action=goto&search=1#action=goto&search_result=1&text=" + encodeURIComponent(sVal) + "&type=msgs&forum=0&u=&disp=posts&start=0";
        return false;
    }
</script>
<form onsubmit="return ch_forum_search()">
    <div class="ch-def-margin-sec-bottom">
        <div class="forum_form_field ch-def-round-corners-with-border">
            <input id="ch_forum_search_input" name="forum_search" class="ch-def-font-large" />
        </div>
    </div>
    <div>
        <button class="ch-btn" onclick="return ch_forum_search()"><ch_text:_ch_forums_quick_search /></button>
        <div class="clear_both"></div>
    </div>
</form>
