<div class="adm-category-items ch-def-bc-margin">
    <ch_repeat:items>
        <div class="adm-category-item ch-def-margin-sec-top-auto">
            <ch_if:icon>
                <img src="__icon__" />
            </ch_if:icon>
            <ch_if:texticon>
                <i class="sys-icon __icon__"></i>
            </ch_if:texticon>
        	<div class="adm-ci-link"><a href="__link__" __onclick__>__title__</a></div>
        	<div class="adm-ci-description">__description__</div>
        </div>
    </ch_repeat:items>
</div>
