<ch_include_auto:designbox_top_controls.html />
<form id="__form_name__" enctype="multipart/form-data" method="post" action="" class="form_advanced">
    <div class="catgs-items ch-def-bc-margin">
        <ch_repeat:items>
            <div class="catgs-item ch-def-margin-thd-top-auto">
                <input type="checkbox" class="form_input_checkbox" id="pathes-__name__" name="pathes[]" value="__value__" />
                <label for="pathes-__name__">__title__</label>
            </div>
        </ch_repeat:items>
    </div>
    __controls__
</form>
