<div class="adm-dashboard-links clearfix">
	<div class="adm-dl-item">
		<a href="<ch_url_admin />profiles.php"><ch_text:_adm_dblinks_manage_members /></a>
	</div>
	<div class="adm-dl-item">
		<a href="<ch_url_admin />modules.php"><ch_text:_adm_dblinks_manage_modules /></a>
	</div>
	<div class="adm-dl-item">
		<a href="<ch_url_admin />notifies.php"><ch_text:_adm_dblinks_mass_mailer /></a>
	</div>
	<div class="adm-dl-item">
		<a href="<ch_url_admin />db.php"><ch_text:_adm_dblinks_backup /></a>
	</div>
	<div class="adm-dl-item">
		<a href="<ch_url_admin />host_tools.php"><ch_text:_adm_dblinks_host_tools /></a>
	</div>
	<div class="adm-dl-item">
		<a href="<ch_url_admin />antispam.php"><ch_text:_adm_dblinks_antispam /></a>
	</div>
	<div class="adm-dl-item">
		<a href="<ch_url_admin />templates.php"><ch_text:_adm_dblinks_manage_templates /></a>
	</div>
	<div class="adm-dl-item">
		<a href="<ch_url_admin />lang_file.php"><ch_text:_adm_dblinks_manage_languages /></a>
	</div>
	<div class="adm-dl-item">
		<a href="<ch_url_admin />index.php?cat=builders"><ch_text:_adm_dblinks_builders /></a>
	</div>
	<div class="adm-dl-item">
		<a href="<ch_url_admin />index.php?cat=settings"><ch_text:_adm_dblinks_settings /></a>
	</div>
</div>
