<div id="admin_license_form_popup" class="admin_license_form_popup ch-def-font-grayed">
    <div class="admin_license_form ch-def-padding ch-def-border">
        <form method="post" action="<ch_url_admin />license.php">
            <div class="admin_license_message ch-def-font-h2">
                <ch_text:_adm_license_popup_note />
            </div>
            <div class="ch-def-margin-top">
                <div class="admin_license_cell_cpt ch-def-margin-sec-right ch-def-font-large">
                    <ch_text:_adm_license_popup_license />
                </div>
                <div class="admin_license_cell ch-def-margin-sec-right">
                    <input type="text" name="license_code" id="admin_login_license" class="ch-def-round-corners-with-border ch-def-font-large">
                </div>
                <div class="admin_license_cell">
                    <button class="ch-btn" type="submit" id="admin_login_form_submit">
                        <ch_text:_adm_license_popup_register />
                    </button>
                </div>
                <div class="clear_both"></div>
            </div>
        </form>
    </div>
    <div class="admin_license_continue ch-def-margin-sec-top"><ch_text:_adm_license_popup_or /> <a id="admin_license_form_popup_close" href="javascript:void(0)"><ch_text:_adm_license_popup_continue /></a></div>
</div>
<script type="text/javascript" language="javascript">
$(document).ready(function() {
	$('#admin_license_form_popup_close').bind('click', function() {
		$('#admin_license_form_popup').dolPopupHide({});
	});
	$('#admin_license_form_popup').dolPopup({
	    closeOnOuterClick: false
	});
});
</script>
