<div class="adm-mlevels-ap-label">
    <ch_text:_adm_txt_mlevels_price_add_days />
</div>
<div class="input_wrapper input_wrapper_text ch-def-round-corners-with-border ch-def-margin-thd-left adm-mlevels-ap-input">
    <input type="text" name="days" value="" class="form_input_text ch-def-font" />
</div>
<div class="adm-mlevels-ap-label ch-def-margin-left">
    <ch_text:_adm_txt_mlevels_price_add_price />
</div>
<div class="input_wrapper input_wrapper_text ch-def-round-corners-with-border ch-def-margin-thd-left adm-mlevels-ap-input">
    <input type="text" name="price" value="" class="form_input_text ch-def-font" />
</div>
<div class="adm-mlevels-ap-btn ch-def-margin-left">
    <button class="ch-btn ch-btn-small" type="submit" name="adm-mlevels-prices-add">
        <ch_text:_adm_btn_mlevels_add_price />
    </button>
</div>
<div class="clear_both">&nbsp;</div>
