<div class="adm-mp-members-simple ch-def-bc-margin-thd">
    <ch_repeat:items>
        <div class="adm-mp-member-simple">
            <div class="adm-mp-ms-check">
                <input type="checkbox" class="form_input_checkbox" id="adm-mp-__id__" name="members[]" value="__id__" />
            </div>
            <div class="adm-mp-ms-thumbnail">__thumbnail__</div>
            <div class="adm-mp-ms-info">
        		<div class="adm-mp-msi-username">
                    <a href="__edit_link__" class="__edit_class__">__username__</a>
                </div>
                <div class="adm-mp-msi-info ch-def-font-small ch-def-font-grayed">
                    __info__
        		</div>
			</div>
        </div>
    </ch_repeat:items>
    <div class="clear_both">&nbsp;</div>
</div>
<div class="adm-mp-members-paginate ch-def-padding-thd-bottom">__paginate__</div>
__control__
