<div class="adm-mp-order-item">
	<span>
    	<ch_text:_adm_txt_mp_order_by />
    </span>
    <div class="input_wrapper input_wrapper_select ch-def-margin-sec-leftright clearfix">
	    <select class="form_input_select ch-def-font-inputs" name="order_by" onchange="__change_order__">
	        <option value="ID" __selected1__><ch_text:_adm_txt_mp_order_none /></option>
	        <option value="NickName" __selected2__><ch_text:_adm_txt_mp_order_user_name /></option>
	        <option value="DateReg DESC" __selected3__><ch_text:_adm_txt_mp_order_last_join /></option>
	        <option value="DateLastNav DESC" __selected4__><ch_text:_adm_txt_mp_order_last_activity /></option>
	    </select>
	</div>
</div>
<button class="ch-btn ch-btn-small" type="button" name="adm-mp-refresh" onclick="__reload__">Refresh</button>
<div class="adm-mp-order-item-right">
    __per_page__
</div>
<div class="clear_both">&nbsp;</div>
