<div class="sys_album_unit_wrp __type___album_unit_wrp">
    <div class="sys_album_unit __type___album_unit">
	    <div class="sys_album">
	        <div class="sys_album_cnt">
	            <div class="sys_album_item sys-ai-empty">
	                <img src="<ch_image_url:spacer.gif />" />
	            </div>
	        </div>
	    </div>
	    <div class="sys_album_info ch-def-padding-sec">
	        <div class="sys_album_title">
	            <ch_text:_sys_album_private />
	        </div>
            <div class="sys_album_from ch-def-font-grayed">&nbsp;</div>
	    </div>
    </div>
</div>
